{{>layouts/header}}

<!-- content -->
<!-- form -->
<hr>

{{#article}}
<form class="container" action="" method="post">
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput"
           placeholder="title" name="title" value="{{title}}">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Content</label>
    <input type="text" class="form-control" id="formGroupExampleInput2"
           placeholder="content" name="content" value="{{content}}">
</div>
    <button type="submit">제출</button>
    <a href="/article/{{id}}">Back</a>
</form>
{{/article}}

{{>layouts/footer}}